<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>vue-boolzapp</title>
</head>

<body>

    <div id="app">
        <section class="colorGreen">

        </section>
        <!-- Container Principale -->
        <section class="color">
            <main>
                <div class="container">

                    <!-- Container Left -->
                    <div class="containerLeft">
                        <!-- Sofia header -->
                        <div class="contentLeft">
                            <div class="d-flex align-center">
                                <img class="logo" src="./img/avatar_io.jpg" alt="Avatar io">
                                <h2 class="m-left">Sofia</h2>
                            </div>
                            <div class="item">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <!-- SEZIONE NOTIFICHE -->
                        <div class="allert">
                            <div class="bell">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="text">
                                <p>Ricevi notifiche di nuovi messaggi</p>
                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                        </div>

                        <!-- SEZIONE INPUT -->

                        <div class="input">
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                            <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="filterKey"
                                @keyup="searchUser()">
                        </div>

                        <!-- CONTATTI -->

                        <div class="contact d-flex s-beetween" v-for="(contact , index) in filteredContacts"
                            @click="utenteAttivo = index">
                            <div class="d-flex align-center">
                                <img class="logo" :src="contact.avatar" alt="Avatar ">
                                <div class="textContact">
                                    <h2 class="m-left">{{contact.name}}</h2>
                                    <p class="m-left">{{contact.messages[contact.messages.length-1].message}}</p>
                                </div>
                            </div>
                            <div class="time">
                                <p>{{contact.messages[contact.messages.length-1].date}}</p>
                            </div>
                        </div>
                        <!-- CONTATTI -->
                    </div>
                    <!-- FINE COLONNA DI SINISTRA -->

                    <div class="containerRight" v-if="filteredContacts[utenteAttivo]">
                        <div class="contentRight d-flex  s-beetween">
                            <div class="d-flex align-center">
                                <img class="logo" :src="filteredContacts[utenteAttivo].avatar" alt="Michele">
                                <div>
                                    <h2 class="m-left">{{filteredContacts[utenteAttivo].name}}</h2>
                                    <p class="grey m-left">Ultimo accesso oggi alle 12:00</p>

                                </div>

                            </div>

                            <div class="item d-flex align-center">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>

                        <div class="contentMid">
                            <div class="mex" v-for="(message,index) in filteredContacts[utenteAttivo].messages" :key="message.message">


                                <div :class="message.status =='sent' ? 'messageRight' : 'messageLeft'">
                                    <p>{{message.message}}</p>
                                    <div class="dropdown">
                                        <button class="dropbtn"><i class="fa-solid fa-caret-down"></i></button>
                                        <div class="dropdown-content">
                                            <a href="#">Info message</a>
                                            <a href="#" @click="deleteMessage(index)">Delete message</a>
                                        </div>
                                    </div>

                                    <div class="date">{{message.date}}</div>
                                </div>
                            </div>


                        </div>

                        <div class="bar d-flex s-around align-center">
                            <div class="item">
                                <i class="fa-regular fa-face-smile"></i>
                            </div>
                            <div class="textBar">
                                <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage"
                                    @keyup.enter="addMessage()">
                            </div>

                            <div class="item">
                                <i class="fa-solid fa-microphone"></i>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- FINE CONTAINER PRINCIPALE -->
        </section>
        </main>
        </section>
    </div>


















    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>

</html>